.login-form {
    display: grid;
    grid-template-columns: 5% 40% 40% 10%;
    grid-template-rows: 100%;
    grid-template-areas: '. login-img login .'
}

.login-img {
    grid-area: login-img;
}

.login-img img {
    width: 70%;
    margin: auto;
    margin-top: 32%;
    float: right;
}

.login {
    width: 60%;
    color: rgb(68, 68, 70);
    padding: 4% 4% 4% 4%;
    animation: flipXIn 1000ms both;
    grid-area: login;
    margin: auto;
    margin-top: 28%;
}

.login p {
    margin-bottom: 1%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.login input {
    top: 30%;
    width: 100%;
    height: 20px;
    margin: 4px auto;
    box-shadow: -1px 2px 4px 0px #DDDDDD;
    font-size: 15px;
    padding: 10px;
    border: none;
}

.login button {
    width: 106%;
    margin: auto;
    height: 44px;
    margin-top: 10px;
}

.login a {
    font-size: 10px;
}

.login a:hover {
    color: black;
}

.login i {
    padding-right: 5px;
}

.fontAwesome {
    font-family: 'Helvetica', FontAwesome, sans-serif;
}

#status {
    color: red;
    font-size: 12px;
    text-transform: lowercase;
    margin-bottom: 10%;
    text-align: center;
    font-weight: 600;
}

@keyframes flipXIn {
    from {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        animation-timing-function: ease-in;
    }
    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    to {
        transform: perspective(400px);
    }
}

@media only screen and (max-width: 750px) {
    .login-img img {
        display: none;
    }
    .login-form {
        display: grid;
        grid-template-columns: 5% 80% 10%;
        grid-template-rows: 100%;
        grid-template-areas: '. login .';
    }
    .login {
        position: absolute;
        width: 60%;
        top: 7%;
        left: 15%;
        margin: auto;
    }
}